<% if @user.devices.empty? %>
	No devices associated<br />
<% else %>
	<strong>Devices</strong>
	<table class="devices" summary="User devices">
		<%= render @devices %>
	</table>
<% end %>

<% if current_user?(@user) %>
	<%= link_to "Add a device", new_device_path %><br />
<% end %>

