<table class="profile" summary="Profile information">
	<tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.display_name %>
      </h1>
      <%= render 'menu' %>
    </td>
    <td class="sidebar round">
      <%= render 'sidebar' %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
</table>