<nav class="round leftnav">
  <ul>
  	<li><%= link_to "Monitor", show_user_heart_rate_summary_path %></li>
  	<li><%= link_to "Activity", show_user_activity_path %></li>
  	<li><%= link_to "Events", show_user_event_path %></li>
  	<li><%= link_to "Devices", show_user_device_path(@user) %></li>
  </ul>
</nav>