<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= link_to @user.display_name, @user %>
      </h1>
      <%= render 'shared/menu' %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/sidebar' %>
    </td>
  </tr>
</table>