<tr>
	<td class="event">
		<span class="content">
			<%= event.event_type.name %>
		</span>
	</td>
	<td class="event">
		<span class="content">
			<%= event.timestamp %>
		</span>
	</td>
	<td class="event">
		<span class="content">
			<%= event.value %>
		</span>
	</td>
	<td class="event">
		<span class="content">
			<%= event.handled %>
		</span>
	</td>
</tr>