<tr>
  <td class="heart_rate_summary">
    <span class="content">
      <%= heart_rate_summary.heart_rate_type.name %>
    </span>
  </td>
  <td class="heart_rate_summary">
    <span class="content">
      <%= heart_rate_summary.occurrences %>
    </span>
  </td>
  <td class="heart_rate_summary">
    <span class="content">
      <%= heart_rate_summary.percent %>
    </span>
  </td>
</tr>