<tr>
	<td class="activity">
		<span class="content">
			<%= activity.activity_type.name %>
		</span>
	</td>
	<td class="activity">
		<span class="content">
			<%= activity.start_date %>
		</span>
	</td>
</tr>